#imgscroll {
	margin: 10px;
	overflow: hidden;
}

#imgscroll.min {
	margin: 0;
}

#imgscroll li {
	/*position: absolute;*/
	left: 0;
	top: 0;
	opacity: 0;
	z-index: 0;
	transform: translateY(100px);
}

#imgscroll li:hover {
	z-index: 1;
}

#imgscroll li.show {
	opacity: 1;
	transform: translateY(0);
	transition: all 0.3s, top 1s;
}

#imgscroll li>div {
	color: rgba(0, 0, 0, 0.6);
	font-size: 32px;
	border-radius: 3px;
	margin: 10px;
	padding: 15px;
	background: rgb(255, 255, 255);
	border: 1px solid rgba(038, 191, 64, 0);
	transition: all 0.5s;
	cursor: pointer;
	/*min-height: 300px;*/
}

#imgscroll li>div:hover {
	transform: translateY(-10px);
	border: 1px solid rgba(038, 191, 64, 1);
	box-shadow: 0 30px 80px rgba(038, 191, 64, 0.3);
	transition: all 0.3s;
}

#imgscroll li.min>div {
	margin: 0;
	transform: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#imgscroll li.min>div:hover {
	transform: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#imgscroll li>div>img {
	width: 100%;
	max-height: 700px;
}