  @font-face {
    font-family: ng;
    src: url(../font/NanumGothic.eot);
    src: local(※), url(../font/NanumGothic.woff) format(‘woff’)
  }
  
  body {
    font-family: NanumGothic, '나눔고딕', ng, sans-serif
  }
  
  body > .container > div {
    display: none;
  }
  
  body > .container > div:nth-child(1) {
    display: block;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  th {
    font-weight: bold;
    text-align: center;
    background: #f7f7f7;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  td {
    font-size: 13px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  td:nth-child(1) {
    font-weight: bold;
    text-align: center;
    background: #f7f7f7;
  }
  
.input-group.date th, .input-group.date td {
  border: 0;
  background: #fff;
}
  .clear {
    clear: both;
  }
  
  #sel_mon {
    width: 156px;
    display: inline;
    margin-left: 11px;
  }
  
  .hmny_col {
    float: left;
    display: inline;
    margin: 7px 0;
    height: 20px;
  }
  
  .m_l_10 {
    margin-left: 10px;
  }
  
  .m_t_10 {
    margin-top: 10px;
  }
  
  .button {
    display: inline-block;
    padding: 5px 10px;
    margin: 4px 2px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
    color: #555;
  }
  
  .button.active {
    background: #d9534f;
    color: #fff;
    /*  border-color: #d9534f;*/
  }
  
  .thumbnail {
    margin: 0;
  }
  
  .col-xs-4.thum {
    padding: 0;
  }
  
  .btn {
    transition: all .2s ease-in-out;
  }
  
  .btn-outline-primary {
    color: #0275d8;
    background-image: none;
    background-color: transparent;
    border-color: #0275d8;
  }
  
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }