@charset 'utf-8';

@media (max-width:800px){
    .login_box {
        position:relative;
        margin:0 auto;
        left:0;
        width:100%;
    }    
    .login_btn {
    margin-right:0.4%;

    }
}

@media (max-width:500px){
    .login_box {
        position:relative;
        margin:0 auto;
        left:0;
        top:60px;
        width:100%;
    }
    
    .logo_big img{
    width:90%;
    }    
    .site_desc {
        padding:0 10px;

    }    
    

    
    .log_left_box{
        border-bottom:1px solid #cccccc;
        border-right:none;
    }
    
    .log_boxes {
    /*float:none;*/
        width:100%;
    
    }
}
