<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ccbrain.shopimg.mapper.AuthMapper">

	<insert id="join">
		INSERT INTO tb_member_info 
		VALUES      ( #{id}, 
		              #{pw}) 
	</insert>
	
	<insert id="initDateConfig">
		INSERT INTO tb_member_config 
		VALUES     ( #{id}, 
		             'M', 
		             Date_format(Now(), "%Y%m"), 
		             NULL, 
		             NULL) 
	</insert>
	
	<select id="search" resultType="map">
		SELECT * 
		FROM   tb_member_info 
		WHERE  member_id = #{id} 
	</select>
	<select id="login" resultType="map">
		SELECT * 
		FROM   tb_member_info 
		WHERE  member_id = #{id} 
		       AND member_nm = #{pw}
	</select>

</mapper>

