<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ccbrain.shopimg.mapper.ShopImgMapper">

	<update id="updateDateConfig">
	-- updateDateConfig
		UPDATE tb_member_config 
		SET    datetime_kind = #{kind}, 
		       m_date = #{m}, 
		       s_date = #{sd}, 
		       e_date = #{ed} 
		WHERE  member_id = #{id} 
	</update>
	
    <select id="selectDateConfig" resultType="map">
    -- selectDateConfig
    	SELECT datetime_kind AS "kind",
    	       m_date AS "m",
    	       s_date AS "sd",
    	       e_date AS "ed"
    	FROM   tb_member_config
    	WHERE  member_id = #{id}
    </select>
	
	<select id="selectDateConfigForSearch" resultType="map">
	-- selectDateConfigForSearch
        SELECT datetime_kind AS "kind", 
               m_date        AS "m", 
               <if test="sd == null or sd == ''">
               CASE 
                 WHEN datetime_kind = 'M' THEN Date_format(date(concat(m_date,'01')), '%Y%m%d') 
                 WHEN datetime_kind = 'D' THEN s_date 
               END           AS "sd", 
               CASE 
                 WHEN datetime_kind = 'M' THEN Date_format(Last_day(concat(m_date,'01')), '%Y%m%d')
                 WHEN datetime_kind = 'D' THEN e_date 
               END           AS "ed" 
               </if>
               <if test="sd != null and sd != ''">
                 #{sd} AS "sd",
                 #{ed} AS "ed"
               </if>
        FROM   tb_member_config 
        WHERE  member_id = #{id} 
    </select>
	
	<insert id="insertShopConfig">
	-- insertShopConfig
        INSERT INTO tb_sel_shop_list VALUES
		<foreach collection="chkShop" item="item" separator=",">
			( '${id}', '${item}')
        </foreach>
	</insert>
	
	<delete id="deleteShopConfig">
	-- deleteShopConfig
		DELETE FROM tb_sel_shop_list 
		WHERE  member_id = #{id}
	</delete>
	
	<select id="selectShopConfig" resultType="map">
	-- selectShopConfig
		SELECT t1.service_id AS "sId",
		       t1.service_name AS "sNm",
		       t2.member_id AS "mId"
		FROM   tb_service_info t1
		       LEFT JOIN (SELECT *
		                  FROM   tb_sel_shop_list
		                  WHERE  member_id = #{id}) t2
		              ON t1.service_id = t2.service_id
		ORDER  BY t1.service_name
	</select>
	
	<select id="selectShop" resultType="map">
	-- selectShop
		SELECT t1.service_id AS "sId",
		       t1.service_name AS "sNm",
		       t1.col_path AS "path"
		FROM   tb_service_info t1, (SELECT *
		                  FROM   tb_sel_shop_list
		                  WHERE  member_id = #{id}) t2
		WHERE  t1.service_id = t2.service_id
		ORDER  BY t1.service_name
	</select>
	
	<select id="selectShopImg" resultType="map">
	-- selectShopImg
        SELECT   t1.service_name AS "sNm",
                 t1.service_id   AS "sId",
                 t3.category_id  AS "cId",
                 concat(t1.col_path,'/',t4.col_dd,t4.col_hh,'/',t3.category_id,'.',t4.col_dd,t4.col_hh) AS "img",
                 t4.col_dd AS "d",
                 t4.col_hh AS "h"
        FROM     tb_service_info t1,
                 (
                        SELECT *
                        FROM   tb_sel_shop_list
                        WHERE  member_id = #{id}) t2,
                 tb_category_info t3,
                 tb_col_result t4,
                 (
                        SELECT *
                        FROM   tb_member_config
                        WHERE  member_id = #{id}) t5
        WHERE    t1.service_id = t2.service_id
        AND      t1.service_id = t3.service_id
        AND      t3.category_id = t4.category_id
        AND
               <if test="sd == null or sd == ''">
                 CASE
                          WHEN t5.datetime_kind = 'D' THEN t4.col_dd BETWEEN t5.s_date AND t5.e_date
                          WHEN t5.datetime_kind = 'M' THEN t4.col_dd BETWEEN Date_format(date(concat(t5.m_date,'01')), '%Y%m%d') 
                                                                         AND Date_format(Last_day(concat(t5.m_date,'01')), '%Y%m%d')
                 END
               </if>
               <if test="sd != null and sd != ''">
                 t4.col_dd BETWEEN #{sd} AND #{ed}
               </if>
        ORDER BY t4.col_dd,
                 t4.col_hh,
                 t1.service_name,
                 t3.category_id
	</select>
	
	<select id="selectShopImgDates" resultType="string">
	-- selectShopImgDates
        SELECT DISTINCT t4.col_dd AS "d"
        FROM   tb_service_info t1,
               (SELECT *
                FROM   tb_sel_shop_list
                WHERE  member_id = #{id}) t2,
               tb_category_info t3,
               tb_col_result t4,
               (SELECT *
                FROM   tb_member_config
                WHERE  member_id = #{id}) t5
        WHERE  t1.service_id = t2.service_id
               AND t1.service_id = t3.service_id
               AND t3.category_id = t4.category_id
               AND
               <if test="sd == null or sd == ''">
                   CASE
                          WHEN t5.datetime_kind = 'D' THEN t4.col_dd BETWEEN t5.s_date AND t5.e_date
                          WHEN t5.datetime_kind = 'M' THEN t4.col_dd BETWEEN Date_format(date(concat(t5.m_date,'01')), '%Y%m%d') 
                                                                         AND Date_format(Last_day(concat(t5.m_date,'01')), '%Y%m%d')
                   END
               </if>
               <if test="sd != null and sd != ''">
                   t4.col_dd BETWEEN #{sd} AND #{ed}
               </if>
        ORDER  BY 1 
	</select>
	
	<select id="selectCateInfo" resultType="string">
		SELECT category_id AS "cId" FROM tb_category_info
		WHERE  service_id = #{sId}
		ORDER  BY 1
	</select>
</mapper>

