<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ccbrain.shopimg.mapper.ShopImgMapper">

	<update id="updateDateConfig">
		UPDATE tb_member_config 
		SET    datetime_kind = #{kind}, 
		       m_date = #{m}, 
		       s_date = #{sd}, 
		       e_date = #{ed} 
		WHERE  member_id = #{id} 
	</update>
	
	<delete id="deleteShopConfig">
		DELETE FROM tb_sel_shop_list 
		WHERE  member_id = #{id}
	</delete>
	
	<insert id="insertShopConfig">
        INSERT INTO tb_sel_shop_list VALUES
		<foreach collection="chkShop" item="item" separator=",">
			( '${id}', '${item}')
        </foreach>
	</insert>
	
    <select id="selectDateConfig" resultType="map">
    	SELECT datetime_kind AS "kind",
    	       m_date AS "m",
    	       s_date AS "sd",
    	       e_date AS "ed"
    	FROM   tb_member_config
    	WHERE  member_id = #{id}
    </select>
	
	<select id="selectShopConfig" resultType="map">
		SELECT t1.service_id as "sId",
		       t1.service_name as "sNm",
		       t2.member_id as "mId"
		FROM   tb_service_info t1
		       LEFT JOIN (SELECT *
		                  FROM   tb_sel_shop_list
		                  WHERE  member_id = #{id}) t2
		              ON t1.service_id = t2.service_id
		ORDER  BY t1.service_name
	</select>
	
</mapper>

